.MenuCabezera{
    background-color: #A4CDD7;
    width: 100%;
    }
    *{
        margin: 0%;
        padding: 0%;
    }
    
    .banner{

    background-image: url("../imagenes/educación.jpg");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:40%;
    }
    .CajaColumnas{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        
    }
    .Columnas{
        flex: 1; 
        background-color: #F0F0F0;
        border: indigo;
        text-align: center;
    }
    .colrverde{
        background-color: green;
    }
    .ColorNaranja{
        background-color: orange;
    }
    .colorIndigo{
        background-color: indigo;
    }
    .final{
        background-color:#1B8EBC;
        width: 100%;
        height: 120PX;
    }
    .menuSuperior li{
        display: inline;
        padding: 10px;
        border-right: solid 2px black;
    }
    .menuSuperior{
        text-transform: uppercase;
        font-weight: bold;
        text-align: right;
        padding: 20px;
       
    }
    .menuSuperior li a:hover{
        color: #e2430c;  
        background-color: #5B77EC ;  
        text-decoration: underline;
    }
    li a  {
        text-decoration: none;
    }
    .menuSuperior li:last-child{
        border-right: none;
    }
.CajaColumnas img{
    width: 100%;
    height: 300px;
}
.formulario {
    width: 80%;
    margin: auto;   
}
form{
    padding: 15px;
}
input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
textarea{
    width: 100%;
    height: 120px;
}

   